.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-icon {
    display: flex;
    align-items: center;

}

.icon-text-group {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.icon {
    margin-right: 8px;
}

.contact-icon svg {
    margin-right: 8px;
}

button {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #d32f2f;
}